<div ng-controller="AssociationsController">
  <form>
    <p>
      Player:
      <select ng-model='newAssoc.player'>
        <option value="{{player}}" ng-repeat="player in players">{{player.name}}</option>
      </select>
      Team:
      <select ng-model='newAssoc.team'>
        <option value="{{team}}" ng-repeat="team in teams">{{team.name}}</option>
      </select>
      <input type="submit" ng-click='addAssociation()'>
    </p>
  </form>
  <div ng-repeat="team in teams">
    <h1>{{team.name}}</h1>
    <div ng-repeat="player in team.players">
      {{player.name}}
    </div>
  </div>
</div>
